<div class="transformations">
  <app-introduction></app-introduction>
  @for (i of info | async; track $index) {
    @switch (i.title) {
      @case ("Operator switchMap") {
        <app-example [info]="i">
          <div class="transformations__buttons">
            <button id="btn-start-sw-map" class="btn btn--primary">
              Start
            </button>
            <button id="btn-stop-sw-map" class="btn btn--secondary">
              Stop
            </button>
          </div>
        </app-example>
      }
      @case ("Operator concatMap") {
        <app-example [info]="i">
          <div class="transformations__buttons">
            <button id="btn-start-cc-map" class="btn btn--primary">
              Start
            </button>
            <button id="btn-stop-cc-map" class="btn btn--secondary">
              Stop
            </button>
          </div>
        </app-example>
      }
      @default {
        <app-example [info]="i"></app-example>
      }
    }
  }
</div>
