.header {
  background: linear-gradient(70deg, var(--dark-color), #2c242e);
  box-shadow: 0 0.1rem 0.5rem var(--dark2-color);
  display: flex;
  height: 9.5rem;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  &__container {
    display: flex;
    justify-content: center;
    &--opacity {
      animation: opacity 1s;
    }
  }
  &__page {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3.5rem 2rem 0 0;
    &--hidden {
      animation: hidden 1s;
      display: none;
    }
    &--show {
      animation: show 1s;
      display: flex;
    }
  }
  &__logo {
    margin-top: 0.4rem;
  }
  &__title {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 2.5rem;
    text-align: center;
    &__main {
      color: var(--primary-color);
      font-size: 2.5rem;
    }
    &__secondary {
      color: var(--secondary-color);
      font-size: 1.2rem;
    }
  }
  &__search {
    margin-left: 1rem;
    margin-top: 3rem;
  }

  &__btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

@media screen and (max-width: 1350px) {
  .header {
    &__page {
      display: none;
    }
    &__container {
      &--opacity {
        animation: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: left;
    padding-left: 0.5rem;
    &__title {
      &__main {
        font-size: 2rem;
      }
      &__secondary {
        font-size: 1rem;
      }
    }
    &__btn {
      right: 2rem;
    }
  }
}

@media screen and (max-width: 668px) {
  .header {
    height: 8rem;
    &__search {
      display: none;
    }
  }
}

@keyframes show {
  from {
    opacity: 0.5;
  }
  to {
    display: flex;
    opacity: 1;
  }
}

@keyframes hidden {
  from {
    opacity: 0.5;
  }
  to {
    display: none;
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
