<div class="header">
  <div class="header__logo">
    <app-logo [width]="115" [borderWidth]="2" />
  </div>
  <div class="header__title">
    <div class="header__title__main">Play Rxjs</div>
    <div class="header__title__secondary">Unlock New way to learn</div>
  </div>

  <div class="header__info">
    <div class="header__info__operators">
      <div>//Operators:</div>
      <div><a [routerLink]="['/routePath']">Creation</a></div>
      <div><a [routerLink]="['/routePath']">Transformation</a></div>
      <div><a [routerLink]="['/routePath']">Combination</a></div>
      <div><a [routerLink]="['/routePath']">Filter</a></div>
    </div>
  </div>
</div>
