<div class="header">
  <div [class]="opacity" class="header__container">
    <div (click)="navigate('/home')" class="header__title">
      <div class="header__title__main">Play RxJS</div>
      <div class="header__title__secondary">{{ title | async }}</div>
    </div>

    <div class="header__search">
      <app-search />
    </div>
  </div>
  <div class="header__btn">
    <button (click)="showHideMenu()" class="btn btn--primary btn--menu">
      <i class="btn__menu__icon bi bi-list"></i>
    </button>
  </div>
</div>
