<header class="header">
  <div [class]="opacity" class="header__container">
    <a routerLink="'/home'" class="header__title">
      <span class="header__title__main">Play RxJS</span>
      <span class="header__title__secondary">{{ title | async }}</span>
    </a>

    <div class="header__search">
      <app-search />
    </div>
  </div>
  <div class="header__btn">
    <button
      type="button"
      class="btn btn--primary btn--menu"
      [attr.aria-label]="'openMenu' | translate"
    >
      <i class="btn__menu__icon bi bi-list" aria-hidden="true"></i>
    </button>
  </div>
</header>
