.header {
  background: linear-gradient(70deg, var(--dark-color), #2c242e);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  height: 9.5rem;
  &__page {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin: 3.5rem 2rem 0 0;
    font-weight: bold;
    &--hidden {
      display: none;
      animation: hide 0.3s;
    }
    &--show {
      display: flex;
      animation: show 0.3s;
    }
  }
  &__logo {
    margin-top: 1rem;
  }
  &__title {
    margin-top: 3rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    &--hidden {
      animation: hide 0.3s;
    }
    &--show {
      animation: show 0.3s;
    }
    &__main {
      font-size: 2.5rem;
      color: var(--primary-color);
    }
    &__secondary {
      font-size: 1.2rem;
      color: var(--secondary-color);
    }
  }
  &__search {
    margin-top: 3.5rem;
    margin-left: 1rem;
  }
  &__btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

@keyframes hide {
  from {
    opacity: 0.5;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    display: flex;
  }
}
