<h2>Examples part 1</h2>
<h3>(Map, interval, take, takeWhile, takeUntil)</h3>
<hr />
<h4>Modify List</h4>
<p *ngFor="let name of obsUsers1 | async">name: {{ name }}</p>

<h4>Filter list</h4>
<p *ngFor="let user of obsUsers2 | async">
  name: {{ user.name }} {{ user.salary }}
</p>

<h4>Interval with takeWhile (5)</h4>
<p>{{ obsInterval1 | async }}</p>

<h4>Interval with takeUntil and press button</h4>
<p>{{ obsInterval2 | async }}</p>
<button id="btn">Stop interval</button>

<h4>Interval with take (9)</h4>
<p>{{ obsInterval3 | async }}</p>
