<h2>Examples part 3</h2>
<h3>(mergeAll, MergeMap, SwitchMap, ConcatMap)</h3>
<hr />
<h4>mergeAll click and interval</h4>
<button id="start">Start</button>
<button id="stop">Stop</button>
<p>{{ resultConsole1 }}</p>

<h4>mergeMap click and interval</h4>
<button id="start2">Start</button>
<button id="stop2">Stop</button>
<p>{{ resultConsole2 }}</p>

<h4>SwitchMap click and interval</h4>
<h6>Equal to mergeMap but canceling the previous subscriptions</h6>
<button id="start3">Start</button>
<button id="stop3">Stop</button>
<p>{{ resultConsole3 }}</p>

<h4>ConcatMap click and interval</h4>
<h6>Equal to switchMap but sorting the subscriptions</h6>
<button id="start4">Start</button>
<button id="stop4">Stop</button>
<p>{{ resultConsole4 }}</p>
