.example {
  background-color: var(--clear-color);
  border-radius: var(--radius);
  color: var(--dark-color);
  margin-bottom: 2.5rem;
  padding: 1.5rem;
  &__info {
    &__title {
      border-bottom: 1px solid var(--primary-color);
      > h2 > span {
        color: var(--primary-color) !important;
      }
    }
    &__description {
      text-align: justify;
    }
  }
  &__code {
    border-left: 1px solid var(--primary-color);
    padding-left: 1.5rem;
  }
}

pre[class*='language-'] {
  padding-left: 3.1rem;
  padding-top: 0;
}

@media screen and (max-width: 992px) {
  .example {
    font-size: 0.8rem;
    &__code {
      border-left: none;
      padding-left: 0;
    }
  }
  pre[class*='language-'] {
    font-size: 1rem;
    line-height: 1;
    padding-left: 2.5rem;
  }
}
