<div [id]="'operator-' + info.id" class="example">
  <div class="row row--2">
    <div class="col example__info">
      <div class="example__info__title">
        <span>/*</span> {{ info.title }} <span>*/</span>
      </div>
      <div
        [innerHTML]="info.description"
        class="example__info__description"
      ></div>
      <div class="example__info__content">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="col example__code">
      <pre><code class="language-js line-numbers">{{ info.code }}</code></pre>
      <app-console [id]="info.id"></app-console>
    </div>
  </div>
</div>
