<h2>Examples part 4</h2>
<h3>(combineLatest, forkJoin, MergeMap, concatMap)</h3>
<hr />

<h4>forkJoin And concatMap Obs</h4>
<p *ngFor="let user of obsUserAndHoobies | async">
  {{ user.name }} {{ user.firstName }} {{ user.age }}
  {{ user.hobbies!.join(", ") }}
</p>

<h4>Filter user and hobbies forkJoin and concatMap</h4>
<p *ngIf="obsUserAndHoobies2 | async as userFilter">
  {{ userFilter.name }} {{ userFilter.firstName }} {{ userFilter.age }}
  {{ userFilter.hobbies }}
</p>

<h4>Filter user and hobbies other way</h4>
<p *ngIf="obsUserAndHoobies3 | async as userFilter">
  {{ userFilter.name }} {{ userFilter.firstName }} {{ userFilter.age }}
  {{ userFilter.hobbies }}
</p>

<h4>Other way</h4>
<p *ngFor="let user of obsUserAndHoobies4 | async">
  {{ user.name }} {{ user.firstName }} {{ user.age }}
  {{ user.hobbies!.join(", ") }}
</p>

<h4>isChecked</h4>
<label for="check1">Check1</label>
<input type="checkbox" id="check1" />
<p>checked-> {{ isChecked | async }}</p>

<h4>CombineLast isChecked</h4>
<label for="check2">Check2</label>
<input type="checkbox" id="check2" />
<p>checked-> {{ isChecked2 | async }}</p>

<p *ngIf="isAllChecked | async">Todos los checks están marcados</p>
