<div class="home">
  <div class="home__front">
    <div class="home__front__image">
      <app-logo [width]="350" />
    </div>
    <div class="home__front__text">
      <h1>Play RXJS</h1>
      <h2>Unlock new way to learn</h2>
      <h6>
        We use simple examples of the main functionalities of rxjs, which can be
        checked in real time from the browser console
      </h6>
      <div class="home__front__technologies">
        <img width="230px" [src]="angular" alt="angular" />
        <img width="70px" [src]="rxjs" alt="rxjs" />
      </div>
    </div>
  </div>
  <div class="home__sections">
    <app-section></app-section>
  </div>
</div>
