.home {
  text-align: center;
  &__front {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
    padding-top: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11  */
    user-select: none; /* Standard syntax */
    &__image {
      margin: 1rem 0 0 1rem;
    }
    &__text {
      color: var(--clear-color);
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      width: 540px;
      & > h5 {
        font-size: 1.3rem;
        margin: 1rem;
      }
    }
    &__technologies {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  &__sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 668px) {
  .home {
    &__front {
      flex-direction: column;
      margin-bottom: 0;
      padding: 2rem 0;
      &__image {
        //margin: 0rem 0 1rem 0;
        margin: 0rem;
      }
      &__text {
        margin-left: 0;
        margin-top: 2rem;
        width: auto;
      }
      &__technologies {
        margin: 1rem 0 1rem 0;
      }
    }
  }
}
