.home {
  text-align: center;
  &__front {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
    &__image {
      margin-top: 1rem;
    }
    &__text {
      color: var(--clear-color);
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      width: 500px;
      & > h5 {
        font-size: 1.3rem;
        margin: 1rem;
      }
    }
    &__technologies {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  &__sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 668px) {
  .home {
    &__front {
      flex-direction: column;
      padding: 1rem 0;
      &__text {
        width: auto;
      }
      &__image {
        margin-top: 0rem;
      }
    }
  }
}
