.search {
  position: relative;
  &__text {
    &__input {
      background-color: var(--dark-color);
      border: 2px solid var(--primary-color);
      border-radius: 3rem;
      box-sizing: border-box;
      color: var(--clear-color);
      font-size: 1.2rem;
      font-weight: bold;
      height: 3.5rem;
      padding: 0 3rem 0 1rem;
      transition: border-color 0.3s ease;
      width: 100%;

      &:focus {
        box-shadow: 0 0 1rem var(--secondary-color);
        outline: none;
      }
    }
    &__clean {
      color: var(--primary-color);
      cursor: pointer;
      font-size: 1.5rem;
      position: absolute;
      right: 1rem;
      top: 0.9rem;
      &:hover {
        color: var(--secondary-color);
      }
    }
  }
  &__result {
    background-color: var(--dark-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 1rem var(--secondary-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 0px;
    max-height: 30rem;
    padding: 1rem;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    z-index: 10002;
    &__item {
      color: var(--primary-color) !important;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
