<div [class]="modeMenu" class="search">
  <div class="search__text">
    <input
      [class]="modeMenu"
      class="search__text__input"
      type="text"
      [(ngModel)]="search"
      placeholder="{{ 'search' | translate }}"
      autocomplete="off"
    />
    @if (search) {
      <i (click)="clearText()" [class]="modeMenu" role="button" tabindex="0">
        <span class="search__text__clean bi bi-x-circle"></span>
      </i>
    }
  </div>

  @if (obsResult | async; as result) {
    @if (result.length > 0 && visibleResult) {
      <div class="search__result">
        @for (i of result; track $index) {
          <a class="search__result__item" [routerLink]="[i.url, i.id]">
            - {{ i.category + '.' + i.id + '.title' | translate }}
          </a>
        }
      </div>
    }
  }
</div>
