<div [class]="modeMenu" class="search">
  <div class="search__text">
    <input
      [class]="modeMenu"
      class="search__text__input"
      type="text"
      [(ngModel)]="search"
      placeholder="{{ 'search' | translate }}"
      autocomplete="off"
    />
    @if (search) {
      <button (click)="clearText()" [class]="modeMenu">
        <span class="search__text__clean bi bi-x-circle"></span>
      </button>
    }
  </div>

  @if (obsResult | async; as result) {
    @if (result.length > 0 && visibleResult) {
      <div class="search__result">
        @for (i of result; track $index) {
          <div class="search__result__item">
            <button (click)="navigate(i.url, i.id)">
              - {{ i.category + '.' + i.id + '.title' | translate }}
              <i class="bi bi-rocket-takeoff"></i>
            </button>
          </div>
        }
      </div>
    }
  }
</div>
