.logo {
  & > img {
    animation: spin 2s infinite linear;
    border: solid;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes spin {
  from {
    border-color: var(--secondary-color) var(--secondary-color)
      var(--primary-color) var(--primary-color);
    box-shadow: 0 0 1rem var(--secondary-color);
    filter: opacity(0.8);
  }
  to {
    border-color: var(--primary-color) var(--primary-color)
      var(--secondary-color) var(--secondary-color);
    box-shadow: 0 0 0.5rem var(--primary-color);
  }
}
