.logo {
  & > img {
    border-radius: 50%;
    border: solid;
    border-color: var(--primary-color) var(--primary-color)
      var(--secondary-color) var(--secondary-color);
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (max-width: 668px) {
  .logo {
    & > img {
      width: 90px !important;
    }
  }
}
