.menu-items {
  margin: 1rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  &__title {
    color: var(--clear-color);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    &--hidden {
      animation: hide 0.2s;
      display: none;
    }
    &--show {
      animation: show 0.2s;
      display: flex;
    }
  }
}

@keyframes hide {
  from {
    display: flex;
    opacity: 0.5;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
  }
  to {
    display: flex;
    opacity: 1;
  }
}
