@if (menuItems | async; as menu) {
  <div class="menu-items">
    <div (click)="showHideList()" class="menu-items__title">
      {{ menu.title }}
      @if (show) {
        <i class="menu-items__icons bi bi-caret-up-fill"></i>
      } @else {
        <i class="menu-items__icons bi bi-caret-down-fill"></i>
      }
    </div>
    <div #list class="menu-items__list menu-items__list--hidden">
      @for (i of menu.items; track $index) {
        <a class="menu-items__list__link" (click)="navigate(i.category, i.id)"
          >- {{ i.title }}</a
        >
      }
    </div>
  </div>
}
