/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #f299fb;
  --secondary-color: #a3feff;
  --clear-color: #f5f2f0;
  --dark-color: #2f2630;
  --dark2-color: rgba(0, 0, 0, 0.3);
  --primary-background: #fce3f8;
  --radius: 0.5rem;
  background: linear-gradient(70deg, var(--dark-color), #2c242e);
  font-family: monospace;
}

//ScrollBar
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b2b2;
}

.row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto;
  &--2 {
    grid-template-columns: 50% auto;
  }
  &--3 {
    grid-template-columns: 33% 33% auto;
  }
}

.col {
  margin-bottom: 1rem;
  overflow: auto;
}

a {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: var(--secondary-color);
  }
  &:focus {
    color: var(--primary-color);
  }
}

.btn {
  border: 2px solid;
  border-radius: var(--radius);
  color: var(--dark-color);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  &:active {
    opacity: 0.5;
  }
  &--primary {
    background-color: var(--primary-color);
  }
  &--secondary {
    background-color: var(--secondary-color);
  }
  &--menu {
    padding: 0.8rem !important;
  }
}

@media screen and (max-width: 992px) {
  .row {
    &--2,
    &--3 {
      gap: 0;
      grid-template-columns: auto;
    }
  }
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.clear-text {
  color: var(--clear-color);
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .btn {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
