.search {
  position: relative;
  &__text {
    padding: 0 0 0 1rem;
    color: var(--clear-color);
    background-color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: bold;
    height: 3.5rem;
    width: 30rem;
    border-radius: 3rem;
    border: 2px solid var(--primary-color);
    transition: border-color 0.3s ease;

    &:focus {
      border-color: var(--secondary-color);
      outline: none;
    }
  }
  &__result {
    position: relative;
    top: 1rem;
    left: 0px;
    padding: 1rem;
    width: 29rem;
    max-height: 30rem;
    border-radius: var(--radius);
    background-color: var(--dark-color);
    border: 2px solid var(--secondary-color);
    &__item {
      cursor: pointer;
      color: var(--primary-color);
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .search {
    &__text {
      width: 20rem;
    }
    &__result {
      width: 19rem;
    }
  }
}
