.search {
  position: relative;
  &__text {
    background-color: var(--dark-color);
    border: 2px solid var(--primary-color);
    border-radius: 3rem;
    color: var(--clear-color);
    font-size: 1.2rem;
    font-weight: bold;
    height: 3.5rem;
    padding: 0 0 0 1rem;
    transition: border-color 0.3s ease;
    width: 30rem;

    &:focus {
      //border-color: var(--secondary-color);
      box-shadow: 0 0 1rem var(--secondary-color);
      outline: none;
    }
  }
  &__result {
    background-color: var(--dark-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 1rem var(--secondary-color);
    left: 0px;
    max-height: 30rem;
    padding: 1rem;
    position: absolute;
    top: 4.5rem;
    width: 29rem;
    &__item {
      color: var(--primary-color);
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 825px) {
  .search {
    &__text {
      width: 20rem;
    }
    &__result {
      width: 19rem;
    }
  }
}
