.menu-items {
  margin: 1rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  &__title {
    color: var(--clear-color);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
  }
  &__icons {
    color: var(--clear-color);
    float: right;
    font-size: 1.5rem;
  }
  &__list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    line-height: 2;
    > ul {
      list-style: none;
      padding: 0;
    }
    &__link {
      color: var(--primary-color);
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}
