<div class="menu-items">
  <a class="menu-items__title" [routerLink]="info.url">
    {{ info.category + '.title' | translate }}
  </a>
  @if (show) {
    <i
      (click)="showHideList()"
      class="menu-items__icons bi bi-caret-up-fill"
      role="button"
      tabindex="1"
    ></i>
  } @else {
    <i
      (click)="showHideList()"
      class="menu-items__icons bi bi-caret-down-fill"
      role="button"
      tabindex="1"
    ></i>
  }
  <div [@fadeToggle]="show ? 'visible' : 'hidden'" class="menu-items__list">
    <ul>
      @for (i of info.items; track $index) {
        <li>
          <a class="menu-items__list__link" [routerLink]="[info.url, i.id]">
            - {{ info.category + '.' + i.id + '.title' | translate }}
          </a>
        </li>
      }
    </ul>
  </div>
</div>
