.menu {
  background-color: var(--dark-color);
  border-left: solid 1px var(--primary-color);
  box-shadow: -0.1rem 0 1rem var(--secondary-color);
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0;
  width: 25rem;
  z-index: 9999999;
  &--hidden {
    animation: hide 0.2s ease;
    display: none;
  }
  &--show {
    animation: show 0.2s ease;
    display: block;
  }
  &__header {
    margin-top: 1rem;
    padding: 1rem;
    &__main {
      color: var(--primary-color);
      font-size: 2.5rem;
    }
    &__secondary {
      color: var(--secondary-color);
      font-size: 1rem;
    }
  }
  &__search {
    display: none;
    padding: 1rem;
  }
}

.close {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  :hover {
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 690px) {
  .menu {
    &__search {
      display: block;
    }
  }
}

@keyframes hide {
  from {
    display: block;
    opacity: 0.5;
    right: -15rem;
  }
  to {
    display: none;
    right: -30rem;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
    right: -15rem;
  }
  to {
    display: block;
    right: 0rem;
  }
}
