.menu {
  background-color: var(--dark-color);
  border-left: solid 1px var(--primary-color);
  box-shadow: -0.1rem 0 1rem var(--secondary-color);
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0;
  width: 27rem;
  z-index: 9999999;
  &--hidden {
    //animation: hide 0.2s ease;
    display: none;
  }
  &--show {
    animation: show 0.2s ease;
    display: block;
  }
  &__header {
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: max-content;
    &__main {
      color: var(--primary-color);
      font-size: 2.5rem;
    }
    &__secondary {
      color: var(--secondary-color);
      font-size: 1rem;
    }
  }
  &__search {
    display: none;
    padding: 1rem;
  }
  &__list {
    height: 80vh;
    margin-right: 0.5rem;
    overflow-y: auto;
    > ul {
      list-style: none;
      padding: 0;
    }
    &__item {
      color: var(--clear-color);
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
    }
  }
  /*&__footer {
    bottom: 1vh;
    position: absolute;
    width: 100%;
    &__container {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-evenly;
      margin-top: 1rem;
    }
  }*/
}

hr {
  background-color: var(--primary-color) !important;
  border: none;
  height: 1px;
}

.close {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  :hover {
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 690px) {
  .menu {
    &__header {
      margin-top: 1rem;
      padding: 0 0 0 1rem;
    }
    &__search {
      display: block;
      padding-bottom: 0;
    }
    &__list {
      height: 72vh;
    }
  }
}

@media screen and (max-width: 450px) {
  .menu {
    width: 97vw;
    &__list {
      &__item {
        font-size: 1.2rem;
      }
    }
    /*&__footer {
      bottom: 4vh;
    }*/
  }
}

@keyframes hide {
  from {
    display: block;
    opacity: 0.5;
    right: -15rem;
  }
  to {
    display: none;
    right: -30rem;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
    right: -15rem;
  }
  to {
    display: block;
    right: 0rem;
  }
}
