<div #menu class="menu menu--show">
  <div class="close"><i class="bi bi-x-circle-fill"></i></div>
  <app-language></app-language>
  <div class="menu__header">
    <div class="menu__header__main">Play Rxjs</div>
    <div class="menu__header__secondary">Unlock new way to learn</div>
  </div>
  <div class="menu__search">
    <app-search [modeMenu]="'menu'"></app-search>
  </div>
  <div class="menu__list">
    <app-menu-items [info]="infoCombination"></app-menu-items>
    <app-menu-items [info]="infoConditional"></app-menu-items>
    <app-menu-items [info]="infoTransformation"></app-menu-items>
  </div>
</div>
