.about-me {
  border: solid 2px var(--primary-color);
  border-radius: var(--radius);
  color: var(--clear-color);
  font-size: 1.3rem;
  margin-top: 3rem;
  max-width: 70rem;
  padding: 2rem 2rem 1rem 2rem;
  text-align: justify;
  &__profile {
    text-align: center;
    > h3 {
      color: var(--clear-color);
    }
    > img {
      border-radius: 20rem;
      width: 20rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .about-me {
    border: none;
    font-size: 1rem;
    margin-top: 0;
    padding: 0;
    &__profile {
      > img {
        width: 15rem;
      }
    }
  }
}
