.about-me {
  margin-top: 3rem;
  text-align: center;
  &__profile {
    margin-top: 1rem;
    text-align: center;
    > h3 {
      color: var(--clear-color);
    }
    > img {
      border-radius: 20rem;
      width: 20rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .about-me {
    &__profile {
      > img {
        width: 15rem;
      }
    }
  }
}
