.section {
  background: var(--dark-color);
  border-radius: var(--radius);
  box-shadow: 0 8px 20px var(--dark2-color);
  box-sizing: border-box;
  cursor: pointer;
  height: 14rem;
  padding: 1rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 25rem;
  &:hover {
    border: solid 1px var(--primary-color);
    box-shadow: 0 0 1rem var(--secondary-color);
  }
  > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .section {
    height: auto;
    width: 18rem;
  }
}
